h3,
h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 150px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

strong {
  font-weight: 600;
  font-size: 1.2rem;
}

.drink-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  font-size: 18px;
}

.drink-image {
  flex: 1;
  margin-right: 20px;
}

.drink-image img {
  width: 100%;
  height: auto;
}

.drink-content {
  flex: 2;
}

.drink-content div {
  margin-bottom: 20px;
}
