table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 7%;
  font-size: 18px;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f8f8;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

td img {
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  object-fit: cover;
}

.meal-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Update the number of columns to 4 */
  grid-gap: 1rem;
}

.meal-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meal-container img {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}

.meal-container p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}